* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}
.tituloBienvenida{
    font-family: "Josefin Sans", sans-serif;
    color: #F2F2F2;
    text-align: center;
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
}
.bienvenida{
    background-color: #401201;
}
.textoFiltros{
    font-family: "Poppins", sans-serif;
    color: #401201;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.selectDog{
    margin-bottom: 1.5rem;
}
.textoMostrar{
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
.che{
    color:green;
}